*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.option{
    height:90vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
  
    background-color: rgb(34, 34, 99);
    color: white;
  position: relative;
  top: 10vh;

  height: 0;
  overflow: hidden;
  transition: all;
  transition-duration: 1.5s;
}
.option ul{
    display: flex;

    flex-direction: column;
    row-gap: 5vh;
}
.option li{
    display: flex;
    gap: 5px;
    list-style: none;
    font-size: 25px;
}
.option ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover{
    opacity: 0.7;
}
.back{
    font-size: 35px;
    position: absolute;
    bottom: 0;
    /* bottom: 10px; */
    left:45px;
    transform: rotate(90deg);
    
}

.show{
  height: 90vh;
}

.img{
    height: 45px;
}
.nav{

    width: 100vw;
    height: 10vh;
    background-color:rgb(34, 34, 99);
    position: absolute;
   
    /* left: 20vw; */
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.nav input{
    border: none;
    outline: none;
   background: transparent;
   color: white;
   font-size: larger;

}
.pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.search{
    border: 2px solid white;
    padding: 10px;
    border-radius: 14px;
    
}
.icon{
    font-size: 25px;
    color: white;
    position: relative;
    left: 5px;
}

.update{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
   background-color: rgb(34, 34, 99);
   padding: 16px;
   position: absolute;
   top:100%;
   right:15px;
    transform: scale(0);
  overflow: hidden;
  transition:all;
  transition-duration: 1s;
}
.update a{
    text-decoration: none;
    font-size: larger;
    color: white;
    
}

.display{
transform: scale(1);
}
.dropdowm-icon{
    position: relative;
    bottom:3px;
    font-size: 29px;
    color: white;
}
.icn{
    font-size: larger;
    position: absolute;
    right: 3px;
}
.logo{
    display: flex;
}

.dropdown{
    font-size: 25px;
}














/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.wrapper2{
    /* height: 90vh;
    width: 80vw; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    position: relative;
    position: absolute;
    top:15vh;
   left: 22vw;
   
}
.classicon{
    height: 80px;
    width: 80px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
}
.classinfo{
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
 
    gap: 15px;
    column-gap: 50px;
    row-gap: 25px;
}

.classinfo .card{
    height: 40vh;
    width: 20vw;
    background-color: aliceblue;
    display: flex;
    gap: 5px;
    box-shadow: 5px 5px 15px;
    flex-direction: column;
justify-content: center;
align-items: center;
transition: transform;
transition-duration: 1.5s;
}

.card button a{
    text-decoration: none;
    color: white;
}
.card button{
    padding: 10px;
    border: none;
    background-color: rgb(34, 34, 99);
    color: white;
}
.card button:hover{
    background-color: rgb(115, 115, 228);
}
.card:hover{
    transform: scale(1.07);
}

.card input{
    border: none;
    background: transparent;
    padding: 6px;
    border: 2px solid blue;
    outline: none;
}

.below{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.below button{
    width: 70%;
    margin: 0 auto;
}

#buttonset{

    width: 100%;
    position: relative;
    top: 10px;
}
/* ######### */
.nm{
    max-width: 70%;
    /* text-align: center; */
 margin-top: 5vw;
}
.nnn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.noticehead{
    text-align:center;

}
.noticebox{
    height: 40vh;
    width: 60vw;
    background-color: aliceblue;
    display: flex;
    gap: 5px;
    box-shadow: 5px 5px 15px;
    flex-direction: column;
/* justify-content: center;
align-items: center; */
    background-color:rgb(175, 187, 189);
    color: black;
    font-size: larger;
    overflow: scroll;
    color: rgb(12, 12, 12);
}
.noticeinfo{
    margin-top: 3px;
     width:70vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
 
   

}
