*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
   overflow-y: scroll;
}
.wrapper1{
    height: 15vh;
    width: 100vw;
}
.option{
    height:90vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
  
    background-color: rgb(34, 34, 99);
    color: white;
  position: relative;
  top: 10vh;

  height: 0;
  overflow: hidden;
  transition: all;
  transition-duration: 1.5s;
}
.option ul{
    display: flex;

    flex-direction: column;
    row-gap: 5vh;
}
.option li{
    display: flex;
    gap: 5px;
    list-style: none;
    font-size: 25px;
}
.option ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover{
    opacity: 0.7;
}
.back{
    font-size: 35px;
    position: absolute;
    bottom: 0;
    /* bottom: 10px; */
    left:45px;
    transform: rotate(90deg);
    
}

.show{
  height: 90vh;
}

.img{
    height: 45px;
}
.nav{

    width: 100vw;
    height: 10vh;
    background-color:rgb(34, 34, 99);
    position: absolute;
   
    /* left: 20vw; */
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.nav input{
    border: none;
    outline: none;
   background: transparent;
   color: white;
   font-size: larger;

}
.pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.search{
    border: 2px solid white;
    padding: 10px;
    border-radius: 14px;
    
}
.icon{
    font-size: 25px;
    color: white;
    position: relative;
    left: 5px;
}

.update{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
   background-color: rgb(34, 34, 99);
   padding: 16px;
   position: absolute;
   top:100%;
   right:15px;
    transform: scale(0);
  overflow: hidden;
  transition:all;
  transition-duration: 1s;
}
.update a{
    text-decoration: none;
    font-size: larger;
    color: white;
    
}

.display{
transform: scale(1);
}
.dropdowm-icon{
    position: relative;
    bottom:3px;
    font-size: 29px;
    color: white;
}
.icn{
    font-size: larger;
    position: absolute;
    right: 3px;
}
.logo{
    display: flex;
}

.dropdown{
    font-size: 25px;
}





.wrapper2{
    /* height: 90vh;
    width: 80vw; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    position: relative;
    position: absolute;
    top:15vh;
   left: 18vw;
   
}
.cardimage{
   
    height: 40px;
    width: 40px;
}
.classinfo{
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
 
    gap: 15px;
}

.classinfo .card{
    height: 30vh;
    width: 20vw;
    background-color: aliceblue;
    display: flex;
    box-shadow: 5px 5px 15px;
    flex-direction: column;
justify-content: center;
align-items: center;
transition: transform;
transition-duration: 1s;
}
.card button a{
    text-decoration: none;
    color: white;
}
.card button{
    padding: 16px;
    border: none;
    background-color: blue;
}

.card:hover{
    transform: scale(1.1);
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.wrapper3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px ;
 
    /* background-color: red; */
}
.profile__info{
    border-color: black;
    margin-bottom: 10px;
    margin-top: 0px;
    border-radius: 50px ;
    border: 2px solid black
}
   #buton{
    background-color: rgb(238, 245, 247);
    font-size: 20px;
    border-radius: 50px ;
    border-color: black;
   }
      #a{
       text-decoration: none;
      
       color: black;
       border-color: black;
       }

.right{
    padding:5px;

    display:left;
    border: 2px solid black;
    border-radius: 10px ;
    overflow-x: visible;
    max-width: 1000px;
  
}
.name{
    padding :10px;
    font-size: 30px;

}
.E-mail
{
    padding :10px;
    font-size: 30px;
}
.Profession
{
    padding :10px;
    font-size: 30px;
}.Department
{
    padding :10px;
    font-size: 30px;
}.About
{
    padding :10px;
    font-size: 30px;
}.website{
    padding :10px;
    font-size: 30px;
}