*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    overflow-y: auto;
  
}
nav{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    position:sticky;
    top:25px;
}
h1{
    font-size: 45px;
    letter-spacing: 5px;
}
.right{
    position: relative;
    top: 15px;

}
.right ul{
    display: flex;
    gap: 10px;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
  
}
nav a:hover{
    color:rgb(13, 178, 244);
}
.herosection{
   
    display: flex;
}
.heroleft{
    width: 30vw; flex-direction: column;
    justify-content: center;
    align-items: center;

    height:70vh;
    display: flex;
} 
.heroright{
    width: 70vw;
    height: 100vh;
}
.heroright{
    background-image: url("images/education_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
  
}
button{
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 8px;
    width: 180px;
    font-size: 20px;
    color:white;
    background-color: rgb(15, 173, 235);
    border-bottom: 5px solid red;
}
button a{
    color:white;
}
.text{
    font-size: 40px;
    /* color:purple */
}
.autotext{
    font-size: 30px;
    color:rgb(15, 173, 235);
}
.features{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  
}
.card{
    width: 20vw;
    height:45vh;
    border-radius: 10px;
    /* border: 2px solid yellow; */
    background-color: #f5f5f0;
    display: flex;
    padding: 10px;
    box-shadow: 2px 2px 10px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    transition: all;
    transition-duration: 1s;
}
.cardsection{
    display: grid;
    gap:25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  
}
.card p{
    opacity: 0.7;
    font-size: smaller;
}
.im{
    height: 40px;
    width: 40px;
}

.card:hover{
 transform: scale(1.1);
}
.card:hover h2{
    color: rgb(15, 178, 242);
}