{% include 'base/room_format.html' %}

{% block content %}
        <div>
                <h3>Conversation</h3>
                <hr>
                {% for message in room_messages %}
                <div>
                    <!-- {% if request.user == message.user %} -->
                    <!-- <a href="{% url 'delete-message' message.id %}">Delete</a> -->
                    <!-- {% endif %} -->
                    <small>@{{message.user}} {{message.created|timesince}} ago </small>
                    <p>{{message.body}}</p>
                    <hr>
                </div>
                {% endfor %}
        </div>

        <div>
            {% if request.user.is_authenticated %}
                <div class="comment-form">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="text" name="body" placeholder="Write you message here..." />
                    </form>
                </div>
            {% endif %}

        </div>    

{% endblock content %}