{% include 'student_main.html' %}

{% block content %}
    
       <div class="bigcontainer">
        <div class="leftcontainer">
            <div class="classicon">
                {{ room.name|slice:":2" }}
            </div>
           <p>Created {{room.created | timesince}} ago</p>
           <p>Created By professor {{room.teacher}}</p>
            <div class="classname">
                <h1>{{room.name}} </h1>
            </div>
            <ul>
                <li class="opt" style="font-size: 14px;">
                    {{room.description}}
                </li>
                <li class="opt">
                    <a href="{% url 'sroom' room.id %}">Chat</a>
                </li>
                <li class="opt">
                  <a href="{% url 'sassignments' room.id %}">Assignment</a>
                </li>
                <li class="opt">
                 <a href="{% url 'stest' room.id %}">Test</a>
                </li>
                <li class="opt">
                   <a href="{% url 'sfiles' room.id %}">Files</a>
                </li>
                <li class="opt">
                    <a href="{% url 'slectures' room.id %}">Lecture</a>
                </li>
                <li class="opt">
                    <a href="{% url 'rstudents' room.id %}">Students</a>
                </li>
            </ul>
        
        </div>


        <div class="assrightcontainer">
            <h1>Class Lectures...</h1>
            <div class="assignmentnavbar">
                <p>Sl.no</p>
                <p>NAME</p>
                <p>Updated By</p>
                <p>Updated At</p>
           
                <p>Download</p>
          
             
            </div>
            <div class="assignmentwrapper">
    
            {% for lecture in lectures %}
    
            <div class="assignment">
                <p>{{lecture.id}}</p>
                <p>{{lecture.name}}</p>
                <p>{{lecture.uploaded_by}}</p>
              
                <p>{{lecture.uploaded_at}}</p>
                <button><a href="{{ lecture.file.url }}" target="_blank">Preview</a></button>
                 <button><a href="{{ lecture.get_absolute_url }}">Download&nbsp;&nbsp;<i class="fa-solid fa-download fa-beat"></i></a></button>
            
            </div>
    
            {% endfor %}
      
    
       

{% endblock content %}