{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8357e7b27d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/createaccount.css' %}">
    <title>createaccount</title>
</head>
<body>

    {% if messages %}
        <div class="alert alert-success" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </div>
    {% endif %}

     <div class="wrapper">
        <div class="container">
          <div class="left">
            <h1>
                Create Account To Start Learning
            </h1>
            
            </div>
            <div class="right">
                <h1>Student Register</h1>
                
                <form method="POST" action="">
                    {% csrf_token %}

                    {{ student_form.non_field_errors }}
                    {% for field in student_form %}
                    <div class="name">
                        <label for="">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}

                    {{ user_form.non_field_errors }}
                    {% for field in user_form %}
                    <div class="name">
                        <label for="">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}

                    <div class="type">
                           
                       
                       
                    
                    <div class="btn">
                        <p>
                            <a href="{% url 'student-login' %}">Already Registered ?</a>
                        </p>
                        <button type="submit">Register</button>
                    </div>
                    </div>
                
                </form>            
                            
                
                   
                          
          </div>
        </div>
     </div>
     <script src="{% static 'js/newuser.js' %}"></script>
</body>
</html>