{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8357e7b27d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/join_room.css' %}">
    <title>Document</title>
    
</head>
<body>
    <div class="nav">
        <i id="dropdown" class=" dropdown fa-solid fa-bars"></i>
     <div class="logo"><img src="{% static 'images/1414305.png' %}" class="img">
        <p style="font-size: 45px;">OCMS</p></div>
        

        <div class="profile">
            <img src="{% static 'images/4430487.png' %}" class="pic">
            <i class="dropdowm-icon fa-solid fa-caret-down"></i>
        </div>
        <div class="update" id="update">
            <a href="{% url 'Professorprofileupdate' %}">Update Profile<i class=" icn fa-solid fa-caret-right"></i></a>
            <a href="{% url 'tactivity' %}">Activity<i class="icn fa-solid fa-caret-right"></i></a>
            <a href="{% url 'ProfessorProfile' %}">Profile<i class="icn fa-solid fa-caret-right"></i></a>
            <a href="{% url 'logout-student' %}">Logout<i class="icn fa-solid fa-caret-right"></i></a>
        </div>
    </div>

    <!-- <p> <h1> Website under Work !!!</h1></p> -->
    
    <div id="option" class="option">
      <ul>
     
        
        
        <li>
            <img src=""  class="img">
            <p> <a href="#"></a></p>
        </li>
        <li>
            <img src="{% static 'images/2741195.png' %}"  class="img">
            <p><a href="{% url 'teacher-room' %}">Class Rooms</a></p>
        </li>
        <li>
            <img src="{% static 'images/2741195.png' %}"  class="img">
            <p><a href="{% url 'tcalendar' %}">Calendar</a></p>
        </li>
        <!-- <li>
            <img src="{% static 'images/2741195.png' %}"  class="img">
            <p><a href="#">Message box</a></p>
        </li> -->
        <li>
            <img src="{% static 'images/2741195.png' %}"  class="img">
            <p><a href="{% url 'noticebox' %}">Sent box</a></p>
        </li>
          <li>
            <img src="{% static 'images/2741195.png' %}"  class="img">
            <p><a href="{% url 'create-notice' %}">Notice</a></p>
        </li>
        <li>
            <img src="{% static 'images/2741195.png' %}"  class="img">
            <p><a href="{% url 'create-room' %}">Create  Room</a></p>
        </li>
        <li>
            <img src="{% static 'images/2741195.png' %}"  class="img">
            <p><a href="{% url 'professors' %}">Professors</a></p>
        </li>
        <li>
            <img src="{% static 'images/2741195.png' %}"  class="img">
            <p><a href="{% url 'tallstudents' %}">Students</a></p>
        </li>
      </ul>
      <div id="back" class="back">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
    </div>

<div class="wrapper2">
    <div id="classinfo" class="classinfo">

        {% for room in rooms %}
        <div class="card card1">

        <div class="classicon">
            {{ room.name|slice:":2" }}
        </div>
          <h2>{{room.name}}</h2>
          <p>created {{room.created | timesince}} ago</p>
          
            
         <button  type="submit"><a href="{% url 'troom' room.id %}">Enter Class</a></button>
            
        </div>
        {% endfor %}



        
</div>
</div>

<script src="{% static 'js/portal.js' %}"></script>

</body>
</html>
